# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/*
*.d
sdkconfig
sdkconfig.old
.project

#generated header files
wifiaccess.h
main/fontwoff.h
main/fontsvg.h
main/fontttf.h
main/fonteot.h
main/indexhtml.h
main/wavdata.h
sdkconfig.old